.form {
  display: flex;
  margin: 0 auto;
  max-width: 829px;
  width: 100%;

  &__input {
    max-width: 377px;
    width: 100%;
  }
}

.resultList {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 48px 16px;
  padding: 0;

  &__item {
    list-style-type: none;
  }
}

.circle_invisible {
  opacity: 0;
}
