@use '#styles/media-bp-mixins.scss' as *;

$vertical-gap: 80px;

.form {
  display: grid;
  grid-template:
    'input . addBtn . deleteBtn . clearBtn'
    / auto minmax(2px, 6px) auto minmax(2px, 6px) auto minmax(10px, 36px) auto;
  align-items: start;
  justify-content: center;

  width: 100%;
  max-width: 829px;
  margin: 0 auto;

  &__input {
    grid-area: input;
    width: 100%;
  }
}

.result-list {
  display: flex;
  flex-flow: row wrap;
  gap: $vertical-gap 16px;
  align-items: flex-end;

  margin-block: 86px 48px;
  padding: 0;
}

.clear-btn {
  grid-area: clearBtn;
}

.add-btn {
  grid-area: addBtn;
}

.delete-btn {
  grid-area: deleteBtn;
}

@include tablet {
  .form {
    grid-template:
      'input . addBtn . deleteBtn'
      '. . clearBtn clearBtn clearBtn'
      / minmax(250px, 1fr) minmax(10px, 40px) auto minmax(2px, 6px) auto;
    max-width: 100%;
  }

  .result-list {
    gap: $vertical-gap 10px;
  }
}

@include mobile {
  .form {
    grid-template:
      'input input input'
      '. . .' 16px
      'addBtn . deleteBtn'
      '. . .' minmax(2px, 6px)
      'clearBtn clearBtn clearBtn'
      / 1fr minmax(2px, 6px) 1fr;
    min-width: 100%;
    max-width: 100%;
  }
}
