@use '#shared/styles/media-bp-mixins.scss' as *;

.form {
  display: flex;
  margin: 0 auto;
  max-width: 829px;
  width: 100%;

  display: grid;
  align-items: start;
  justify-content: center;
  grid-template:
    'input . addBtn . deleteBtn . clearBtn'
    / auto minmax(2px, 6px) auto minmax(2px, 6px) auto minmax(10px, 36px) auto;

  &__input {
    width: 100%;
    grid-area: input;
  }
}

.resultList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-items: center;
  width: 100%;
  max-width: 70%;
  padding: 0;
  margin-block-start: 86px;
  margin-block-end: 48px;
}

.clearBtn {
  grid-area: clearBtn;
}

.addBtn {
  grid-area: addBtn;
}

.deleteBtn {
  grid-area: deleteBtn;
}

@include laptop() {
  .resultList {
    max-width: unset;
    max-width: 100%;
  }
}

@include tablet() {
  .form {
    max-width: 100%;
    grid-template:
      'input . addBtn . deleteBtn'
      '. . clearBtn clearBtn clearBtn'
      / minmax(250px, 1fr) minmax(10px, 40px) auto minmax(2px, 6px) auto;
  }

  .resultList {
    gap: 65px 10px;
  }
}

@include mobile() {
  .form {
    min-width: 100%;
    max-width: 100%;
    grid-template:
      'input input input'
      '. . .' 16px
      'addBtn . deleteBtn'
      '. . .' minmax(2px, 6px)
      'clearBtn clearBtn clearBtn'
      / 1fr minmax(2px, 6px) 1fr;
  }

  .resultList {
    gap: 85px 10px;
  }
}
