{
  "printWidth": 100,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "tabWidth": 2,
  "semi": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "proseWrap": "always",
  "useTabs": false,
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^(#shared/(config|constants|types|hooks|lib)).*$",
    "^(#shared/ui).*$",
    "^(\\.|\\.\\.)/(.(?!.(css|scss)))*$",
    ".(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "overrides": [
    {
      "files": ["**/*.cjs"],
      "options": {
        "singleQuote": false,
        "trailingComma": "all"
      }
    }
  ]
}
