@use '#styles/media-bp-mixins.scss' as *;

.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 130px;
  min-height: 60px;
  padding: 18px 24px;

  color: var(--text-color-primary);

  background-color: var(--bg-button-default);
  border: none;
  border: 1px solid var(--color-border-button-default);
  border-radius: var(--common-border-radius);
  outline: none;

  transition: var(--common-transition);

  &:disabled {
    cursor: not-allowed;
    color: var(--color-text-button-disabled);
    background-color: var(--bg-button-disabled);
    border-color: var(--color-border-button-disabled);
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: var(--bg-button-hover);
    border-color: var(--color-border-button-hover);
  }

  &:focus:enabled {
    background-color: var(--bg-button-active);
  }

  &:active:enabled {
    cursor: pointer;
    background-color: var(--bg-button-active);
    border-color: var(--color-border-button-active);
    fill: var(--text-color-secondary);
  }
}

.big {
  width: 362px;
}

.small {
  width: 175px;
}

.loader:disabled {
  background-color: var(--bg-button-default);
}

.loader_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  animation: rotation 1s linear infinite normal forwards running;
}

.hidden-text {
  color: transparent;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@include mobile {
  .button {
    min-height: 44px;
    padding: 8px 12px;
  }
}
