.form {
  display: grid;
  grid-template:
    'selection . bubble . asc . desc . newArr'
    / auto minmax(12px, 40px) auto minmax(12px, 1fr) max-content minmax(8px, 12px) max-content minmax(
      12px,
      1fr
    )
    max-content;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 880px;
  margin-inline: auto;
}

.result-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  gap: max(1vw, 4px);
  align-items: end;

  box-sizing: border-box;
  width: 100%;
  max-width: 980px;
  height: 340px;
  padding: 0;
}

.selection-radio {
  grid-area: selection;
}

.bubble-radio {
  grid-area: bubble;
}

.asc-btn {
  grid-area: asc;
}

.desc-btn {
  grid-area: desc;
}

.new-arr-btn {
  grid-area: newArr;
}

@media (width <= 1024px) {
  .form {
    grid-template:
      'selection asc'
      'bubble desc'
      'newArr newArr'
      / max-content auto max-content;
    gap: max(2vw, 8px);
  }
}

@media (width <= 400px) {
  .form {
    grid-template:
      'selection bubble'
      'asc asc'
      'desc desc'
      'newArr newArr'
      / 1fr;
  }
}
