.form {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.result__list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 48px 16px;
  padding: 0;
  box-sizing: border-box;
  height: 340px;

}

.result__listItem {
  list-style-type: none;
}

.circle_invisible {
  opacity: 0;
}
