.label {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 0;

  appearance: none;
  background-color: transparent;
  border: 2px solid var(--radio-border-color);
  border-radius: 50%;
  outline: none;

  &:not(:disabled, :checked) {
    border: 2px solid var(--text-color-primary);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--bg-input-disabled);
  }

  &:focus-visible {
    transform: scale(1.05);
    outline: 2px solid var(--text-color-primary);
  }

  &:not(:disabled):checked {
    padding: 4px;

    background-color: var(--text-color-primary);
    background-image: radial-gradient(
      circle,
      var(--text-color-primary) 0%,
      var(--text-color-primary) 50%,
      transparent 60%,
      transparent 100%
    );
    background-clip: content-box;
    border: 2px solid var(--text-color-primary);
  }

  &:disabled:checked {
    background-image: radial-gradient(
      circle,
      var(--bg-input-disabled) 0%,
      var(--bg-input-disabled) 50%,
      transparent 50%,
      transparent 100%
    );
  }
}
