.string {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.string__inputContainer {
  display: flex;
  gap: 12px;
  max-width: 522px;
  margin: 0 auto;
}

.result__list {
  display: flex;
  gap: 16px;
  padding: 0;
}

.result__listItem {
  list-style-type: none;
}
