@use '#shared/styles/media-bp-mixins.scss' as *;

.form {
  display: flex;
  gap: 12px;
  max-width: 522px;
  margin: 0 auto;
}

.resultList {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  padding: 0;
  margin-inline: auto;

  &resultList__item {
    list-style-type: none;
  }
}

@include mobile() {
  .form {
    flex-flow: column;
    min-width: 100%;
  }
}
