@use '#shared/styles/media-bp-mixins.scss' as *;

.form {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 522px;
  margin: 0 auto;
} 

.resultList {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  padding: 0;
  margin-inline: auto;
}

@include mobile() {
  .form {
    flex-flow: column;
    align-items: stretch;
    min-width: 100%;
  }
}
