@use '#styles/media-bp-mixins.scss' as *;

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  justify-content: space-between;

  width: 100%;
  max-width: 952px;
  margin: 0 auto;

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;

    &_type {
      &_byValue {
        display: grid;
        grid-template:
          'inputValue . addToHead . addToTail . removeFromHead . removeFromTail'
          / auto minmax(8px, 1fr) max-content minmax(8px, 1fr) max-content minmax(8px, 1fr) max-content minmax(
            8px,
            1fr
          )
          max-content;
        align-items: start;
        justify-content: center;
      }

      &_byIndex {
        display: grid;
        grid-template:
          'inputIndex . addByIndex . removeByIndex'
          / auto 8px minmax(200px, 1fr) 8px minmax(200px, 1fr);
        align-items: start;
        justify-content: center;
      }
    }
  }

  &__input {
    width: 100%;

    &_type_value {
      grid-area: inputValue;
    }

    &_type_index {
      grid-area: inputIndex;
    }
  }

  &__button {
    &_type_add-to-head {
      grid-area: addToHead;
    }

    &_type_add-to-tail {
      grid-area: addToTail;
    }

    &_type_remove-from-tail {
      grid-area: removeFromTail;
    }

    &_type_remove-from-head {
      grid-area: removeFromHead;
    }

    &_type_add-by-index {
      grid-area: addByIndex;
    }

    &_type_remove-by-index {
      grid-area: removeByIndex;
    }
  }
}

.circle {
  margin: 0 16px;

  &_first {
    margin: 0 16px 0 0;
  }

  &_last {
    margin: 0 0 0 16px;
  }
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 0;
  justify-content: flex-start;

  margin: 0;
  margin-top: 90px;
  margin-block-end: 48px;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
}

@include laptop {
  .form {
    gap: 36px;

    &__fieldset {
      &_type {
        &_byValue {
          display: grid;
          grid-template:
            'inputValue inputValue inputValue'
            '. . .' 16px
            'addToHead . addToTail'
            '. . .' 8px
            'removeFromHead . removeFromTail'
            / 1fr 8px 1fr;
          justify-content: center;
        }

        &_byIndex {
          display: grid;
          grid-template:
            'inputIndex . addByIndex . removeByIndex'
            / auto 8px minmax(200px, 1fr) 8px minmax(200px, 1fr);
          justify-content: center;
        }
      }
    }
  }
}

@include tablet {
  .form {
    gap: 26px;

    &__fieldset {
      &_type {
        &_byValue {
          display: grid;
          grid-template:
            'inputValue inputValue inputValue'
            '. . .' 8px
            'addToHead . addToTail'
            '. . .' 8px
            'removeFromHead . removeFromTail'
            / 1fr 8px 1fr;
          justify-content: center;
        }

        &_byIndex {
          display: grid;
          grid-template:
            'inputIndex inputIndex inputIndex'
            '. . .' 8px
            'addByIndex . removeByIndex'
            / 1fr 8px 1fr;
          justify-content: center;
        }
      }
    }
  }
}

@include mobile {
  .form {
    gap: 26px;

    &__fieldset {
      &_type {
        &_byValue {
          align-items: unset;
        }

        &_byIndex {
          align-items: unset;
        }
      }
    }
  }

  .result-list {
    margin-block-end: 60px;
  }
}
