@use '#shared/styles/media-bp-mixins.scss' as *;

$verticalMargin: 36px;

.page {
  background-color: var(--color-background);
}

.content {
  background-color: var(--color-background);
  max-width: 1200px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: max-content 15fr 1fr;
  margin: 0 auto;
  padding: var(--gutter);
  box-sizing: border-box;
}

.main {
  height: 100%;
  background: var(--color-background-card);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius);
  padding: 36px;
  box-sizing: border-box;

  display: grid;
  gap: 50px;
  align-content: start;
  grid-template:
    'back'
    'title'
    'result'
    / 1fr;

  &__title {
    grid-area: title;
    justify-self: center;
  }

  &__backBtn {
    grid-area: back;
    place-self: center left;
  }

  &__result {
    grid-area: result;
    align-self: start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.header {
  display: flex;
  margin-top: $verticalMargin;
  margin-bottom: $verticalMargin;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;

  &__image {
    width: 80px;
  }
}

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  align-items: center;
}

@include laptop() {
  .main {
    padding: 20px;
    gap: 0;
    grid-template:
      'title . back'
      '. . .' 36px
      'result result result'
      / auto auto auto;

    &__title {
      place-self: center left;
      font-size: 26px;
    }

    &__backBtn {
      place-self: center right;
    }
  }
}

@include tablet() {
  .logo {
    &__image {
      width: 60px;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 30px;
    }
  }

  .main {
    &__title {
      font-size: 24px;
    }
  }

  .footer {
    justify-content: center;
  }
}

@include mobile() {
  .header {
    margin-top: calc($verticalMargin / 3);
    margin-bottom: calc($verticalMargin / 3);
  }

  .logo {
    flex-flow: column;
    align-items: center;
    margin: auto;
    margin-bottom: 0;

    &__image {
      width: 50px;
      margin-bottom: unset;
    }

    &__title {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  .main {
    padding: 15px;

    gap: 0;
    grid-template:
      'title . back'
      '. . .' 36px
      'result result result'
      / 1fr auto 1fr;

    &__title {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
