@use '#shared/styles/media-bp-mixins.scss' as *;

.form {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  max-width: 522px;
  margin: 0 auto;
}

.result-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(80px, 1fr));
  gap: 56px 8px;
  justify-items: center;

  width: 100%;
  max-width: 70%;
  margin-block-end: 48px;
  padding: 0;
}

@include laptop {
  .result-list {
    max-width: 100%;
  }
}

@include tablet {
  .result-list {
    grid-template-columns: repeat(5, minmax(80px, 1fr));
  }
}

@include mobile {
  .result-list {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
  }

  .form {
    flex-flow: column;
    align-items: stretch;
    min-width: 100%;
  }
}
