@use '#shared/styles/media-bp-mixins.scss' as *;

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-content: center;
  align-items: start;
  gap: 16px;
  width: 100%;
  padding-bottom: 36px;

  &__link {
    color: var(--text-color-primary);
  }
}

.ticker {
  background-color: var(--text-color-h1);
  height: 60px;
  overflow: hidden;
  align-self: end;
}

.dot_box {
  margin: 0 auto;
  padding: 0 78px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-color-secondary);
}

@include laptop() {
  .cardList {
    gap: 8px;
  }
}
