@use '#styles/media-bp-mixins.scss' as *;

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: max(1.3vw, 8px);
  align-content: center;
  align-items: start;

  width: 100%;
  padding-bottom: 36px;

  &__link {
    color: var(--text-color-primary);
  }
}

.ticker {
  overflow: hidden;
  align-self: end;
  height: 60px;
  background-image: var(--linear-gradient);
}

.dot_box {
  margin: 0 auto;
  padding: 0 78px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--text-color-secondary);
  border-radius: 50%;
}

@include laptop {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@include mobile {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }
}
