@use '#styles/media-bp-mixins.scss' as *;

.circle {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: fit-content;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  color: var(--text-color-input);

  &__shape {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    aspect-ratio: 1;
    width: var(--circle-radius);

    border-radius: 50%;

    &_small {
      @extend .circle__shape;

      width: calc(var(--circle-radius) * 0.7);
    }

    &_state_default {
      @extend .circle__shape;

      border: var(--circle-border) solid var(--default-color);
    }

    &_state_changing {
      @extend .circle__shape;

      border: var(--circle-border) solid var(--changing-color);
    }

    &_state_modified {
      @extend .circle__shape;

      border: var(--circle-border) solid var(--modified-color);
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__head {
    &_type_string {
      @extend .absolute;

      top: -30px;
    }

    &_type_element {
      @extend .absolute;

      top: -70px;
    }
  }

  &__tail {
    &_type_string {
      @extend .absolute;

      bottom: -60px;
    }

    &_type_element {
      @extend .absolute;

      bottom: -100px;
    }
  }

  &__index {
    @extend .absolute;

    bottom: -30px;
  }
}

.absolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@include mobile {
  .circle {
    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
}
