.button {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  background: none;
  border: none;
  outline: none;

  transition: var(--common-transition);

  &:hover {
    opacity: 0.8;
  }
}
