.button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  transition: var(--common-transition);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
